<!DOCTYPE html>
<html lang="en">
    <!-- head -->
  <%- include('./partials/head')  %> 
<body>
    <!-- nav -->
    <%- include('./partials/nav')  %> 
    <div class="flash_msgs">
        <%- include('partials/flash_messages')%>
      </div>
      <div class="container">
        <h1>Home page</h1>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>